accelerate==0.13.2
aiofiles==22.1.0
certifi==2022.9.24
charset-normalizer==2.1.1
diffusers @ git+https://github.com/huggingface/diffusers.git@8171566163f0b197282786bf39de95c130eb5fa0
filelock==3.8.0
ftfy==6.1.1
httptools==0.5.0
huggingface-hub==0.11.0
idna==3.4
importlib-metadata==5.0.0
multidict==6.0.2
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
Pillow==9.3.0
psutil==5.9.4
pydantic==1.10.2
pyparsing==3.0.9
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
sanic==22.6.2
sanic-routing==22.3.0
scipy==1.9.3
tokenizers==0.13.2
torch==1.13.0
tqdm==4.64.1
transformers==4.24.0
typing-extensions==4.4.0
ujson==5.5.0
urllib3==1.26.13
uvloop==0.17.0
wcwidth==0.2.5
websockets==10.4
zipp==3.10.0
